@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Raleway;
    background-color: black;
    color: white;
    margin:0;
    padding: 0;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)),url(../images/banner.png);

    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 60px;
    border-bottom: 2px solid #33A8DB80;
}

.banner .banner-content {
  color: white;
  width: 520px;
  margin: auto;
  text-align: center;
}

.banner .banner-content p {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    text-align: center;
    margin: 16px 0 24px

}

.banner .banner-content button{
display: flex;
justify-content: center;
background-color: transparent;
border: 2px solid;
border-image: linear-gradient(#3BA1CD, #1572B7);
border-image-slice: 1;
color: rgba(49, 168, 221, 1);
width: 330px;
height: 57px;
padding: 19px 91px 19px 91px;
font-family: Raleway, sans-serif;
font-weight: 900;
font-size: 16px;
letter-spacing: 3px;
line-height: 100%;
gap: 31px;
text-transform: uppercase;
margin-left: 15%;
white-space: nowrap;
}

.banner h1 {
    font-family: Raleway;
    font-weight: 900;
    font-style: Black;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

#course-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    width: 792px;
    margin: 0px auto;
    margin-bottom: 150px;
    
}

#course-content h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-family: Raleway;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

#course-content p {
    font-family: Raleway;
    font-size: 1rem;

}

.modules-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.module {
    border: 1px solid rgba(51, 168, 219, 1);
    border-radius: 57px;
    padding: 16px 127px;
    background-color: rgba(37, 37, 37, 1);
    box-shadow: inset -3px 3px 10px -1px black;
    font-size: 1rem;
    font-weight: 400;
    
}

.module span {
    color: rgb(51, 168, 219, 1);
}

#transform-world {
    background-image: url(../images/woman-code.png);
    height: 363px;
    background-size:cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}

#transform-world p {
    width: 244px;
    height: 141px;
    margin: 111px 0 0 198px;
    font-size: 2.5rem;
    text-transform: lowercase;
    font-weight: 900;
    filter: drop-shadow(3px 2px rgba(51, 168, 219, 1));
}

#professional-challenges {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 60px 0;
}

#professional-challenges h2 {
    font-size: 2rem;
    font-weight: 700;
    max-width: 746px;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 2px;

}

#professional-challenges p {
    max-width: 792px;
    text-align: center;
    font-size: 1rem;
}

footer {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    border-top: 1px solid hsla(198, 100%, 70%, 1);
    background-image: linear-gradient(rgba(51, 168, 219, 0), rgba(51, 168, 219, 0.2), rgba(51, 168, 219, 0.2));
    padding: 10px;;
}

footer img {
    margin-top: 59px;
}

footer a {
    text-decoration: none;
    font-weight: 700;
    font-style: bold;
}

